* { font-family: 'Roboto'; }  

.banner {
  width: 900px;
  height: 260px;


}

h2{
 color: rgb(118, 118, 163);
}
h1{
  color: rgb(118, 118, 163);
 }

/* navebar */
.navbar {
  justify-content: space-between;
  padding: 20px ;
  height: 50px;
}
/* botão dos cards */
.btn-primary {
  background-color: #F2A340;
  border-color: #C28008;
}
.btn-primary:hover {
  background-color: #C28008;
}
.noticia{
  border-bottom: 2px solid #C28008;
  margin-top:20px;
  width: 15rem;
}
.aside{
  margin-left:10px;
  padding: 8px;
}
.card-title{

  padding-right: 20px;
  color: #050505;
}
.nav {
  border-top: 2px solid #0f0f0c;
  border-bottom: 0.5px solid #3d3d37;
  margin-bottom: 80px;
}
.corpo{
  height: 400px;
}

.card a{
  text-decoration:none;
}
.card a:hover{
  color:#312f31;
}
.logo a{
  text-decoration:none;
}
.view-foto{
  width:80%;
  /*height: 20rem ;
   margin:20px;
  left:5px; */
}

.legenda{
  color:#3d3d3d;
  font-size: smaller;
  padding: 15px;
}
.footer{
  margin-top: 20px;
}